package ${packageName}.controller;

import com.baomidou.mybatisplus.core.metadata.IPage;
import ${packageName}.domain.${ClassName};
import ${packageName}.service.${ClassName}Service;
import lombok.extern.slf4j.Slf4j;
import org.springframework.web.bind.annotation.*;
import org.springblade.core.mp.support.Condition;
import org.springblade.core.mp.support.Query;
import org.springblade.core.tool.api.R;

import javax.annotation.Resource;
import java.util.List;

/**
 * ${functionName}
 *
 * @author ${author}
 * @date ${datetime}
 */
@Slf4j
@RestController
@RequestMapping("/${moduleName}/${businessName}")
public class ${ClassName}Controller {

    @Resource
    private ${ClassName}Service ${className}Service;

    /**
     * 分页查询${functionName}
     */
    @GetMapping("/select/page")
###if($table.crud || $table.sub)
    public R<IPage<${ClassName}>> selectPage(${ClassName} ${className}, Query query) {
        IPage<${ClassName}> paged = ${className}Service.selectPage(Condition.getPage(query), ${className});
        return R.data(paged);
    }
###elseif($table.tree)
##    public AjaxResult list(${ClassName} ${className}) {
##        List<${ClassName}> list = ${className}Service.select${ClassName}List(${className});
##        return success(list);
##    }
###end

    /**
     * 获取${functionName}详细信息
     */
    @GetMapping(value = "/get")
    public R<${ClassName}> getInfo(@RequestParam(value = "${pkColumn.javaField}") ${pkColumn.javaType} ${pkColumn.javaField}) {
        return R.data(${className}Service.selectBy${pkColumn.capJavaField}(${pkColumn.javaField}));
    }

    /**
     * 新增${functionName}
     */
    @PostMapping(value = "/add")
    public R<${ClassName}> add(@RequestBody ${ClassName} ${className}) {
        return R.data(${className}Service.insert(${className}));
    }

    /**
     * 修改${functionName}
     */
    @PostMapping(value = "/edit")
    public R<${ClassName}> edit(@RequestBody ${ClassName} ${className}) {
        return R.data(${className}Service.update(${className}));
    }

    /**
     * 删除${functionName}
     */
	@PostMapping("/delete/batch")
    public void remove(@RequestParam(value = "${pkColumn.javaField}s") List<${pkColumn.javaType}> ${pkColumn.javaField}s) {
        ${className}Service.deleteBatch(${pkColumn.javaField}s);
    }
}
