package ${packageName}.domain;

#foreach ($import in $importList)
import ${import};
#end
import lombok.*;
import org.springblade.common.base.ZxhcEntity;
import com.baomidou.mybatisplus.annotation.IdType;
import com.baomidou.mybatisplus.annotation.TableId;
import com.baomidou.mybatisplus.annotation.TableName;
import com.baomidou.mybatisplus.annotation.TableField;
import java.io.Serializable;

/**
 * ${functionName}
 *
 * @author ${author}
 * @date ${datetime}
 */
@Data
@Builder
@NoArgsConstructor
@AllArgsConstructor
@TableName("${tableName}")
@EqualsAndHashCode(callSuper = true)
public class ${ClassName}  extends ZxhcEntity implements Serializable {

#foreach ($column in $columns)
#if(!$table.isSuperColumn($column.javaField))
    /** $column.columnComment */
#if($column.list)
#set($parentheseIndex=$column.columnComment.indexOf("（"))
#if($parentheseIndex != -1)
#set($comment=$column.columnComment.substring(0, $parentheseIndex))
#else
#set($comment=$column.columnComment)
#end
#end
#if($column.javaField == "id")
    @TableId(value = "id", type = IdType.ASSIGN_ID)
#else
    @TableField("${column.columnName}")
#end
    private $column.javaType $column.javaField;

#end
#end
}
