package ${packageName}.service;

import com.baomidou.mybatisplus.core.metadata.IPage;
import ${packageName}.domain.${ClassName};
import org.springblade.core.mp.support.Query;
import org.springblade.common.base.ZxhcService;

import java.util.List;

/**
 * ${functionName}Service接口
 * 
 * @author ${author}
 * @date ${datetime}
 */
public interface ${ClassName}Service extends ZxhcService<${ClassName}>{
    /**
     * 查询${functionName}
     */
    ${ClassName} selectBy${pkColumn.capJavaField}(${pkColumn.javaType} ${pkColumn.javaField});

    /**
     * 分页查询${functionName}
     */
    IPage<${ClassName}> selectPage(IPage<${ClassName}> page, ${ClassName} pageRequest);

    /**
     * 新增${functionName}
     */
     ${ClassName} insert(${ClassName} ${className});

    /**
     * 修改${functionName}
     */
     ${ClassName} update(${ClassName} ${className});

    /**
     * 批量删除${functionName}
     */
    void deleteBatch(List<${pkColumn.javaType}> ${pkColumn.javaField}s);

    /**
     * 删除${functionName}信息
     */
    void deleteBy${pkColumn.capJavaField}(${pkColumn.javaType} ${pkColumn.javaField});
}
