package ${packageName}.service.impl;

import java.util.List;
import com.baomidou.mybatisplus.core.metadata.IPage;
import com.baomidou.mybatisplus.core.conditions.query.LambdaQueryWrapper;
import javax.annotation.Resource;
#foreach ($column in $columns)
#if($column.javaField == 'createTime' || $column.javaField == 'updateTime')
#break
#end
#end
import org.springframework.transaction.annotation.Propagation;
import org.springframework.transaction.annotation.Transactional;
import org.springframework.stereotype.Service;
import lombok.extern.slf4j.Slf4j;
import org.springblade.common.base.ZxhcServiceImpl;
#if($table.sub)
import java.util.ArrayList;
import org.springframework.transaction.annotation.Transactional;
import ${packageName}.domain.${subClassName};
#end
import ${packageName}.mapper.${ClassName}Mapper;
import ${packageName}.domain.${ClassName};
import ${packageName}.service.${ClassName}Service;

/**
 * ${functionName}Service业务层处理
 *
 * @author ${author}
 * @date ${datetime}
 */
@Slf4j
@Service
public class ${ClassName}ServiceImpl extends ZxhcServiceImpl<${ClassName}Mapper, ${ClassName}> implements ${ClassName}Service {

    @Resource
    private ${ClassName}Mapper ${className}Mapper;

    /**
     * 查询${functionName}
     */
    @Override
    public ${ClassName} selectBy${pkColumn.capJavaField}(${pkColumn.javaType} ${pkColumn.javaField}) {
        return ${className}Mapper.selectBy${pkColumn.capJavaField}(${pkColumn.javaField});
    }

    /**
     * 查询${functionName}列表
     */
    @Override
    public IPage<${ClassName}> selectPage(IPage<${ClassName}> page, ${ClassName}QueryReq queryReq) {
        LambdaQueryWrapper<${ClassName}> queryWrapper = new LambdaQueryWrapper<>();

        /*
            queryWrapper.eq(StringUtils.isNotBlank(queryReq.getMachineNestId()), MachineNestUavHopLatestRecord::getMachineNestId, queryReq.getMachineNestId())
                .eq(StringUtils.isNotBlank(queryReq.getCreateDept()), MachineNestUavHopLatestRecord::getCreateDept, queryReq.getCreateDept())
                .eq(StringUtils.isNotBlank(queryReq.getCreateUser()), MachineNestUavHopLatestRecord::getCreateUser, queryReq.getCreateUser());
            queryWrapper.orderByDesc(MachineNestUavHopLatestRecord::getCreateTime);
         */

        return this.getBaseMapper().selectPage(page, queryWrapper);
    }

    /**
     * 新增${functionName}
     */
    @Override
    @Transactional(propagation = Propagation.REQUIRED, rollbackFor = Exception.class)
    public ${ClassName} insert(${ClassName} ${className}) {
#foreach ($column in $columns)
#if($column.javaField == 'createTime')
        ${className}.setCreateTime(DateUtils.getNowDate());
#end
#end
###if($table.sub)
##         int rows = ${className}Mapper.insert(${className});
##         insert${subClassName}(${className});
##         return rows;
###else
        ${className}Mapper.insert(${className});
        return ${className};
###end
    }

    /**
     * 修改${functionName}
     */
###if($table.sub)
##    @Transactional
###end
    @Override
    @Transactional(propagation = Propagation.REQUIRED, rollbackFor = Exception.class)
    public ${ClassName} update(${ClassName} ${className}) {
#foreach ($column in $columns)
#if($column.javaField == 'updateTime')
        ${className}.setUpdateTime(DateUtils.getNowDate());
#end
#end
###if($table.sub)
##        ${className}Mapper.delete${subClassName}By${subTableFkClassName}(${className}.get${pkColumn.capJavaField}());
##         insert${subClassName}(${className});
###end
        ${className}Mapper.updateById(${className});
        return ${className};
    }

    /**
     * 批量删除${functionName}
     */
###if($table.sub)
##     @Transactional
###end
    @Override
    @Transactional(propagation = Propagation.REQUIRED, rollbackFor = Exception.class)
    public void deleteBatch(List<${pkColumn.javaType}> ${pkColumn.javaField}s) {
        ${className}Mapper.deleteBatchIds(${pkColumn.javaField}s);
    }

###if($table.sub)
##
##    /**
##     * 新增${subTable.functionName}信息
##     */
##    public void insert(${ClassName} ${className}) {
##        List<${subClassName}> ${subclassName}List = ${className}.get${subClassName}List();
##        ${pkColumn.javaType} ${pkColumn.javaField} = ${className}.get${pkColumn.capJavaField}();
##        if (StringUtils.isNotNull(${subclassName}List))
##        {
##            List<${subClassName}> list = new ArrayList<${subClassName}>();
##            for (${subClassName} ${subclassName} : ${subclassName}List)
##            {
##                ${subclassName}.set${subTableFkClassName}(${pkColumn.javaField});
##                list.add(${subclassName});
##            }
##            if (list.size() > 0)
##            {
##                ${className}Mapper.batch${subClassName}(list);
##            }
##        }
##    }
###end
}
